<h1 class = "cocktail-name"><%= @cocktail.name %></h1>

<div class="container">
  <div class="row">
    <% @cocktail.doses.each do |dose| %>
      <div class="cocktail-description">
        <p class="ingredient-name"><%= dose.ingredient.name %> : </p>
        <p class= "dose-description"><%= dose.description %></p>
        <%= link_to 'delete', dose_path(dose), class: "delete-corner", method: :delete, data: {confirm: "sure?"} %>
      </div>
    <% end %>
  </div>
</div>

<%= simple_form_for([@cocktail, @dose ]) do |f| %>
    <%= f.association :ingredient %>
    <%= f.text_field :description  %>
    <%= f.button :submit %>
<% end %>

<%= link_to 'Back to index', root_path  %>
